header {
    width: 100%;
}

.header-img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

    a{
        width: 100%;
    }

    img {
        width: 100%;
    }


}

.menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    border: 0.2rem groove $menu-color;
    flex-wrap: wrap;

    li {
        a {
            display: inline-block;
            font-weight: 700;
            font-size: 2rem;
            text-transform: uppercase;
            text-shadow: 0.2rem 0.2rem 0.5rem $shadow-color;
            padding: 1rem 0.5rem;
            font-weight: 300;
            @include transition-ease;

            &:hover {
                color: $menu-color;
                // background-color: $primary-color;
            }
        }
    }

    @for $i from 1 through 4 { // 4 links
        .menu li:nth-child(#{$i}) { // iterates through each one and add delay
            transition-delay: ($i * 0.1s) + 0.15s;
        }
    }
}

