.cs-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .heart {

        button {
            border: none;
            background-color: transparent;
            cursor: pointer;

            i {
                color: $menu-color;
                font-size: 1.5rem;
                fill: $primary-color;
                @include transition-ease;
            }
        
            i:hover {
                text-shadow: 0 0 0.5rem $dark-shadow-color;
                transform: scale(2);
            }
        }

    }

}

.content {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;

    .text-content {
        display: flex;
        flex-direction: row;
        width: 60%;

        .day {
            display: flex;
            justify-content: space-between;
        }
    }

    .profile-content, .opening-hours {
        border: 1px solid $menu-color;
        width: 50%;
        padding: 0 30px;

        .option {
            display: flex;
        }
    }

    .opening-hours {
        border-left: none;
    }

    .photo {
        width: 40%;
        
        img {
            width: 100%;
            border: 1px solid $menu-color;
            border-right: none;
        }
    }
}

.modification{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;

    .btn {
        border: 1px solid $menu-color;
        width: 100%;
        display: flex;

        a {
            padding: 30px 0;
            width: 100%;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;

            @include transition-ease;

            &:hover {
                background-color: $menu-color;
                color: whitesmoke;
            }
        }
    }
}

.review-body{
    display: flex;
    flex-direction: column;
    padding-top: none;
    .review {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 60%;
        border: 1px solid $menu-color;
        padding: 15px;
        margin-bottom: 15px;

        .little-header{
            h3, h4 {
                margin-top: 0;

                span {
                    padding: 0 5px;
                    color: $menu-color;
                    font-size: 20px;
                    vertical-align: center;
                }
            }
            border-bottom: 1px solid $menu-color;

        }
    }
}

.subtitle {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    word-spacing: 0.5rem;
    padding: 0.7rem 0;
    color: $dark-grey;
    font-weight: bold;
}