.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: auto;
  padding: 0 20px;
  max-width: 1024px;
}

.card {
  display: flex;
  align-items: stretch;
  padding: 10px 10px;
  border: 1px solid $menu-color;
  box-shadow: 5px 4px $shadow-color;
  border-radius: 20px;

  .img {
    img {
      width: 70px;
      border-radius: 15px;

    }
  }

  .text {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    height: 100%;
    flex-direction: column;

    h3, h4 {
      margin: 0;
    }

    h3 {
      margin-bottom: 10px;
    }

    p {
      margin: 0;
      align-self: flex-end;
  
      a {
        // @include transition-ease;
        transition: all 0.5s ease-in-out;
        color: $dark-shadow-color;
  
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

