header {
  width: 100%;
}

.header-img {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-img a {
  width: 100%;
}

.header-img img {
  width: 100%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 0;
  border-bottom: 0.2rem solid #aea0d8;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu li a {
  display: inline-block;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  text-shadow: 0.2rem 0.2rem 0.5rem #dbfaef;
  padding: 1rem 0.5rem;
  font-weight: 300;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu li a:hover {
  color: #aea0d8;
}

.menu .menu li:nth-child(1) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.menu .menu li:nth-child(2) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menu .menu li:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.menu .menu li:nth-child(4) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px auto;
  width: 100%;
  max-width: 300px;
}

.form input, .form select, .form .day, .form .service {
  margin-bottom: 10px;
}

.form input, .form select {
  border: none;
  border-bottom: 1px solid #585858;
  background-color: transparent;
  margin: 15px 0;
  padding-bottom: 5px;
  width: 100%;
  outline: none;
}

.form button {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 1.25rem;
  border-bottom: 0.2rem solid #aea0d8;
  border-right: 0.2rem solid #6c5aa1;
  -webkit-box-shadow: 5px 10px #6c5aa1;
          box-shadow: 5px 10px #6c5aa1;
  background-color: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  letter-spacing: 0.2rem;
}

.form .opening-time, .form .pair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.form #file {
  border-bottom: none;
}

.form .opening-time {
  gap: 10px;
}

.form .pair {
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form .pair input {
  width: 80%;
  margin: 0;
  padding: 0;
}

.form p {
  margin: 0;
}

.form .offer, .form .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form .offer div, .form .service div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

.form .offer div input, .form .service div input {
  margin: 0;
  width: auto;
}

.form .offer div label, .form .service div label {
  margin-left: 10px;
}

.review-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.review-section .lines .username, .review-section .lines .rating {
  margin: auto;
  width: 50%;
}

.review-section .review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review-section .review label {
  width: 50%;
  margin: auto;
}

.review-section .review textarea {
  margin: 15px 0;
  border: none;
  -webkit-box-shadow: 5px 10px #dbfaef;
          box-shadow: 5px 10px #dbfaef;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: auto;
  padding: 0 20px;
  max-width: 1024px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 10px 10px;
  border: 1px solid #aea0d8;
  -webkit-box-shadow: 5px 4px #dbfaef;
          box-shadow: 5px 4px #dbfaef;
  border-radius: 20px;
}

.card .img img {
  width: 70px;
  border-radius: 15px;
}

.card .text {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card .text-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .text-header h3, .card .text-header h4 {
  margin: 0;
}

.card .text-header h3 {
  margin-bottom: 10px;
}

.card .text-header .rating {
  margin: auto 0;
}

.card .text-header .rating p {
  font-size: 20px;
  font-weight: bold;
  color: #aea0d8;
}

.card .text p {
  margin: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.card .text p a {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #6c5aa1;
}

.card .text p a:hover {
  color: #272727;
}

@media screen and (max-width: 320px) {
  .header-img {
    margin: 20px 0;
  }
  .menu .menu-item a {
    padding: 0.25rem 0.15rem;
    font-size: 1rem;
  }
  .container {
    grid: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .header-img {
    margin: 20px 0;
  }
  .menu .menu-item a {
    padding: 0.5rem 0.25rem;
    font-size: 1.5rem;
  }
  .container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .header-img {
    margin: 30px 0;
  }
}

.cs-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.cs-title .heart button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.cs-title .heart button i {
  color: #aea0d8;
  font-size: 1.5rem;
  fill: #272727;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.cs-title .heart button i:hover {
  text-shadow: 0 0 0.5rem #6c5aa1;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.content {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 20px;
}

.content .text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 60%;
}

.content .text-content .day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .profile-content, .content .opening-hours {
  border: 1px solid #aea0d8;
  width: 50%;
  padding: 0 30px;
}

.content .profile-content .option, .content .opening-hours .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .opening-hours {
  border-left: none;
}

.content .photo {
  width: 40%;
}

.content .photo img {
  width: 100%;
  border: 1px solid #aea0d8;
  border-right: none;
}

.modification {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 20px;
}

.modification .btn {
  border: 1px solid #aea0d8;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modification .btn a {
  padding: 30px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.modification .btn a:hover {
  background-color: #aea0d8;
  color: whitesmoke;
}

.review-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: none;
}

.review-body .review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 60%;
  border: 1px solid #aea0d8;
  padding: 15px;
  margin-bottom: 15px;
}

.review-body .review .little-header {
  border-bottom: 1px solid #aea0d8;
}

.review-body .review .little-header h3, .review-body .review .little-header h4 {
  margin-top: 0;
}

.review-body .review .little-header h3 span, .review-body .review .little-header h4 span {
  padding: 0 5px;
  color: #aea0d8;
  font-size: 20px;
  vertical-align: center;
}

.subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  word-spacing: 0.5rem;
  padding: 0.7rem 0;
  color: #464646;
  font-weight: bold;
}

.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: 60%;
}

.articles section {
  text-align: center;
}

.articles section h1 {
  color: #464646;
}

.articles section .text h4 {
  color: #aea0d8;
}

.user-profile-content {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 0;
}

.user-profile-content .user-profile-text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  width: 30%;
  border: 1px solid #aea0d8;
}

.user-profile-content .user-profile-text-content h3 {
  margin: 0;
}

.user-profile-content .user-profile-text-content .option {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.user-profile-content .user-profile-text-content .option p {
  margin: 0;
}

.user-profile-content .user-profile-text-content .modification .btn a {
  padding: 15px 0;
}

.user-profile-content .users-favourite-cs {
  border: 1px solid #aea0d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  width: 60%;
}

.user-profile-content .users-favourite-cs .favourite-cs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #aea0d8;
}

.user-profile-content .users-favourite-cs .favourite-cs .favourite-cs-name {
  max-width: 250px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.user-profile-content .users-favourite-cs .favourite-cs .heart {
  position: relative;
  width: 50px;
  height: 45px;
}

.user-profile-content .users-favourite-cs .favourite-cs .heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user-profile-content .users-favourite-cs .favourite-cs .heart button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.user-profile-content .users-favourite-cs .favourite-cs .heart button i {
  color: #aea0d8;
  font-size: 1.5rem;
  fill: #272727;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.user-profile-content .users-favourite-cs .favourite-cs .heart button i:hover {
  text-shadow: 0 0 0.5rem #6c5aa1;
  -webkit-transform: scale(2);
          transform: scale(2);
}

body {
  background-color: #f8f7f7;
  color: #272727;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body footer {
  width: 100%;
  text-align: center;
  color: #aea0d8;
  height: 50px;
}

a {
  color: #272727;
  text-decoration: none;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  word-spacing: 0.5rem;
  padding: 0.7rem 0;
}
/*# sourceMappingURL=main.css.map */