<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{include title}</title>
    <link rel="stylesheet" href="{$basePath}/css/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="{$basePath}/css/main.css">
    <script type="text/javascript" src="{$basePath}/js/jquery.js"></script>
    <script type="text/javascript" src="{$basePath}/css/bootstrap/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {ifset meta}{include meta}{/ifset}
</head>
<body>
<header>
    <div>
        <img src="{$basePath}/img/img-1.svg" alt="">
    </div>
    <nav>
        <ul>
            <li> <a href="{link index}">HOME</a></li>
            <li> <a href="{link coffeeshops}">COFFEESHOPS</a></li>
            <li> <a href="{link add-coffeeshop}">ADD NEW COFFEESHOP</a></li>
            <li> <a href="{link sign-up}">SIGN UP</a></li>
            <li> <a href="{link login}">LOG IN</a> </li>
        </ul>
    </nav>
</header>

    <main>
    {include body}
    </main>
</body>
</html>