<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{include title}</title>
    <link rel="stylesheet" href="{$basePath}/css/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="{$basePath}/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{$basePath}/js/jquery.js"></script>
    <script type="text/javascript" src="{$basePath}/css/bootstrap/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {ifset meta}{include meta}{/ifset}
</head>
<body>
<header>
    <div class="header-img">
        <a href="{link index}">
            <img src="{$basePath}/img/main-logo.png" alt="">
        </a>

    </div>
    <nav class="nav">
        <ul class="menu">
            <li class="menu-item"> 
                <a href="{link index}" class="menu-nav-link">HOME</a>
            </li>
            <li class="menu-item"> 
                <a href="{link coffeeshops}" class="menu-nav-link">COFFEESHOPS</a>
            </li>
            {if isset($loggedUser)}
            <li class="menu-item"> 
                <a href="{link add-coffeeshop}" class="menu-nav-link">ADD NEW COFFEESHOP</a>
            </li>
            <li class="menu-item"> 
                <a href="{link logout}" class="menu-nav-link">LOG OUT</a> 
            </li>
            {else}
            <li class="menu-item"> 
                <a href="{link sign-up}" class="menu-nav-link">SIGN UP</a>
            </li>
            <li class="menu-item"> 
                <a href="{link login}" class="menu-nav-link">LOG IN</a> 
            </li>
            {/if}
        </ul>
    </nav>
</header>

    <main>
    {include body}
    </main>
</body>
</html>